doctype html
html
    head
        title="Hello Pug"
    body
        h1.greetings#people Hello World!
        ul.nav.navbar-nav
            li.active
                a(href='home') Home page
            li
                a(href='service') Our Services

            li
                a(href='contact') Contact us
            li 
                a(href='req') time

h1 Home