doctype html
html
    head
        title="Hello Pug"
    body

        ul.nav.navbar-nav
            li.active
                a(href='home') Home page
            li
                a(href='service') Our Services

            li
                a(href='contact') Contact us

        h1 Service          